* {
  margin: 0;
  padding: 0;
  color: inherit;
  transition: 0.2s;
}
html {
  font-family: "Montserrat",sans-serif;

  color: #333;
  background: #eee;
}
a {
  text-decoration: none;
}
::selection{
  color: #3af;
  text-shadow: 0 0 1em #08f;
  background: rgba(255,255,255,0.5);
}
.ib {
  display: inline-block;
}
.dp1 {
  font-size: 3em;
}
.dim {
  font-size: 0.8em;
  /* opacity: 0.5; */
  color: rgba(0, 0, 0, 0.5);
}
.center {
  text-align: center;
}
.sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section {
  padding: 3em 0;
}
body > * > *,
.wrap {
  width: 90%;
  max-width: 80rem;
  margin: auto;
  vertical-align: middle;
}
nav {
  position: fixed;
  width: 100%;
  padding: 0.5em 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4rem);
}
.banner {
  padding: 6rem 0;
  color: #fff;
  background: linear-gradient(30deg, #3af, #3b9);
}
.banner mark {
  border-radius: 0.2em;
  background: rgba(255, 255, 255, 0.3);
}
#verlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#verlist > div {
  margin: 0.5rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #fff;
}
.pribtn {
  display: inline-block;
  min-width: 4em;
  padding: 0.2em;
  text-align: center;
  color: #fff;
  border-radius: 1em;
  background: #08f;
}
#verlist > div:hover,
.pribtn:hover {
  box-shadow: 0.1em 0.2em 1em rgba(0, 0, 0, 0.2);
}
.mainbtn {
  font-size: 1.5em;
  padding: 0.2em 1em;
  color: #fff;
  border: 0.1em solid #fff;
  background: none;
}
