* {
    /* border: red solid 2px; */
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    list-style: none;
}

html {
    background: #098 url(https://7.dusays.com/2021/05/18/bb67285e264f1.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font: 2.75vw 'Montserrat', "微软雅黑", sans-serif;
    font: min(2.75vw, 7vh) 'Montserrat', "微软雅黑", sans-serif;
}

.container {
    opacity: 0.75;
}

.menu {
    float: right;
    position: relative;
    top: 0.7em;
    z-index: 1;
}

.dim {
    font-size: 0.8em;
    opacity: 0.6;
}

.small {
    font-size: 0.5em;
    opacity: 0.6;
}

.dropdown {
    position: relative;
}

.dropdown>ul {
    display: none;
}

.dropdown:hover>ul {
    display: block;
    position: absolute;
    left: -0.2em;
    top: 1.2em;
    width: 100%;
}

.hilit,
.dropdown>ul {
    padding: 0.2em;
    background: white;
    color: dimgray;
    border-radius: 0.5em;
}

.hilit *,
.dropdown>ul * {
    color: inherit;
}

.selectbar {
    background: #ccc;
    color: black;
    float: right;
    border-radius: 0.2em;
    min-width: 4.5em;
    display: flex;
    justify-content: space-between;
}

.bar {
    margin: 0.5em auto;
    height: 0.25em;
    background: rgba(255, 255, 255, 0.2);
}

#bar {
    height: 100%;
    background: white;
}

.card {
    margin: 0.5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card>div,
.card>a {
    margin: 0.25em;
    padding: 0.25em 0.75em;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    border-radius: 1em;
    text-align: center;
}

.dp1 {
    font-size: 5em;
    min-width: 2.5em;
}

.dp2 {
    font-size: 3em;
    min-width: 2.5em;
}

.dp3 {
    font-size: 1.5em;
    opacity: 0.6;
}

.credits>img {
    vertical-align: middle;
    max-height: 1.2em;
    max-width: 20em;
}

@media (max-aspect-ratio: 1/1) {
    html {
        font: 6vw 'Montserrat', "微软雅黑", sans-serif;
        font: min(6vw, 5vh) 'Montserrat', "微软雅黑", sans-serif;
    }

    .menu {
        top: 0;
        float: none;
    }

    .card {
        flex-direction: column;
    }
}